$clr-primary: #8486a9;
$clr-accent: #fb6087;
$clr-light: #ffffff;
$clr-dark: #343650;
$clr-very-dark: #1e1f29;
$clr-mostly-dark: #191a24;
$clr-attribution: #3e52a3;
$fs-body: 0.875rem;
$fs-attribution: 0.6875rem;
$fw-bold: 700;
